resources:

- name: sqldata
  type: sqladmin.v1beta4.instance #declares the type as a sql instance see - https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances
  properties:
    zone: europe-west2-a
    settings:
      tier: {{ properties['tier'] }} #takes the tier propertie from the yaml file
    networkInterfaces:
    - subnet: {{ properties["subnetwork"] }} #gets the subnet declared in the yaml file

- name: database
  type: sqladmin.v1beta4.database #declares the type to create a database see - https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/databases
  properties:
    name: database
    instance: $(ref.sqldata.selfLink)#ref the sql instance created above
    charset: utf8 #sets the char set for the database
    collation: utf8_general_ci